<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Spring Boot App</title>
</head>
<body>
    
	
	<section>
		<h1>login page</h1>	
		<h2>only this section will be render</h2>
		<h2>this will also render</h2>
		
		<h1>login page</h1>	
				<h2>only this section will be render</h2>
				<h2>this will also render</h2>				<h1>login page</h1>	
						<h2>only this section will be render</h2>
						<h2>this will also render</h2>						<h1>login page</h1>	
								<h2>only this section will be render</h2>
								<h2>this will also render</h2>								<h1>login page</h1>	
										<h2>only this section will be render</h2>
										<h2>this will also render</h2>										<h1>login page</h1>	
												<h2>only this section will be render</h2>
												<h2>this will also render</h2>												<h1>login page</h1>	
														<h2>only this section will be render</h2>
														<h2>this will also render</h2>														<h1>login page</h1>	
																<h2>only this section will be render</h2>
																<h2>this will also render</h2>																<h1>login page</h1>	
																		<h2>only this section will be render</h2>
																		<h2>this will also render</h2>
	</section>
	<h2>this will not render</h2>
	
</body>
</html>
